.image_wrapper {
  height: 250px;;
}

@media only screen and (min-width: 414px) {
  .image_wrapper {
    height: 280px;
  }
}

@media only screen and (min-width: 640px) {
  .image_wrapper {
    height: 350px;
  }
}

@media only screen and (min-width: 768px) {
  .image_wrapper {
    height: 470px;
  }
}

@media only screen and (min-width: 960px) {
  .image_wrapper {
    height: 550px;
  }
}

@media only screen and (min-width: 1024px) {
  .image_wrapper {
    height: 620px;
  }
}

@media only screen and (min-width: 1280px) {
  .image_wrapper {
    height: 650px;
  }
}

@media only screen and (min-width: 1536px) {
  .image_wrapper {
    height: 800px;
  }
}
